body {
    background-color: #f1ebd2;
}

a {
    text-decoration: none;
    color: #999;
}

.w {
    width: 1213px;
    margin: 0 auto;
}

.h {
    height: 890px;
}

.Bor {
    border-top: 3px solid #d0a636;
    border-bottom: 3px solid #d0a636;
}

p {
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.center {
    width: 1016px;
    height: 884px;
}

.center_l {
    width: 200px;
    height: 100%;
    background-color: #fbce8a;
    border-right: 3px solid #d0a636;
    border-left: 3px solid #d0a636;
}

.center_l dt h1 {
    height: 60px;
    font-family: 华文行楷;
    line-height: 60px;
    text-align: center;
    color: red;
    background-color: gold;
    margin: 0 auto;
}

.center_l dl a {
    color: black;
}

.center_l dl dd {
    width: 200px;
    height: 808px;
    margin: 0 auto;
    overflow-y: scroll;
}

.center_l dl .Ranking {
    width: 95%;
    height: 40px;
    position: relative;
    padding-top: 15px;
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px dashed black;
}

.center_l .Placing {
    height: 40px;
    margin: 0 auto;
    padding-top: 5px;
    padding-right: 100px;
    display: inline-block;
}

.center_l .N_A_R {
    position: absolute;
    bottom: 5px;
    left: 55px;
}

.center_l dd .Name, .center_l dd .Record {
    width: 110px;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
}

.center_l dd .Name {
    font-size: 16px;
    font-family: 微软雅黑B;
}

.center_l dd .Record {
    font-size: 12px;
    line-height: 20px;
}

.center_l dd .point {
    position: absolute;
    bottom: 5px;
    right: 0;
    font-size: 14px;
}

.center_r {
    width: 800px;
    height: 100%;
    float: left;
}

.center_r_w {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.center_r .xzm {
    width: 400px;
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
}

.center_r .zuozi {
    width: 149px;
    height: 165px;
    margin-right: 3.3px;
    margin-left: 3.3px;
    display: inline-block;
    cursor: pointer;
}

.Play1, .Play2 {
    width: 45px;
    height: 45px;
    margin: 0 auto;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}

.Play1:hover, .Play2:hover {
    opacity: 0.4;
}

.qiPan {
    width: 100px;
    height: 95px;
    margin: 0 auto;
    background-image: url(../images/qipan2.png);
    background-size: 100px 95px;
}

.left {
    width: 191px;
    height: 884px;
    border-left: 3px solid #d0a636;
    border-right: 3px solid #d0a636;
}

.left_t {
    height: 33%;
    padding: 10px;
    position: relative;
    border-bottom: 3px solid #d0a636;
}

.left_t div {
    margin-top: 10px;
}

.left_t .formarPlayer .Player {
    width: 171px;
    height: 25px;
    margin-top: 10px;
    position: relative;
}

.left_t .Player .name {
    width: 96%;
    position: absolute;
    top: 0;
    left: 10px;
    line-height: 25px;
    font-family: 微软雅黑B;
}

.left_t .Player .point {
    position: absolute;
    top: 0;
    right: 0px;
    line-height: 25px;
}

.left_t .Player a {
    color: black;
}

.left_b p {
    margin: 10px;
}

.login-t {
    width: 95px;
    height: 60px;
    font-size: 15px;
    white-space: nowrap;
    color: #666;
    padding-top: 145px;
    line-height: 20px;
    position: relative;
}

.login-t .W-Speech {
    width: 100px;
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
}

.login-t input {
    width: 110px;
    padding-left: 3px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 14px;
    border: 1px solid #333;
    border-radius: 3px;
}

.login-t .Login, .login-t .Register {
    color: #666;
    margin-left: 50px;
}

.login-t .Register {
    margin: 10px;
}

.login-t a:hover {
    color: #f10215;
}

.user-info {
    width: 75px;
    height: 75px;
    background-image: url(../images/qizi.png);
    background-position: -26px -243px;
    background-size: 600px 166px;
    border-radius: 50%;
    box-shadow: 5px 12px 13px rgba(0, 0, 0, .1);
    position: absolute;
    top: 70px;
    left: 60px;
}

.user {
    width: 180px;
    height: 80px;
    position: absolute;
    top: 0;
    left: 10px;
    /*display: none;*/
}

.user .bg {
    width: 75px;
    height: 75px;
    background-image: url(../images/qizi.png);
    background-position: -26px -243px;
    background-size: 600px 166px;
    border-radius: 50%;
    cursor: pointer;
}

.user .username {
    width: 100px;
    position: absolute;
    top: 15px;
    left: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 18px;
}

.user .e-mail {
    width: 100px;
    position: absolute;
    top: 35px;
    left: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
}

.user .level, .user .zhanji {
    font-size: 15px;
}

.user .formarPlayer p {
    margin-top: 5px;
}

.left_c {
    height: 32%;
    background-color: #fbce8a;
}

.left_c .jushi, .left_c .bushi {
    height: 60px;
    line-height: 60px;
}
.left_c .key {
    position: relative;
    
    text-align: center;
}
.left_b {
    height: 32.5%;
    position: relative;
}
.left_b .Player {
    width: 171px;
    height: 25px;
    margin-top: 10px;
    position: relative;
}

.right{
    width: 200px;
    height: 884px;
    border: 3px solid #d0a636;
}

.right_t {
    padding-top: 3px;
    padding-left: 3px;
    height: 559px;
    overflow: auto;
    background-color: white;
}
.right_t p {
    margin-top: 10px;
    margin-left: 10px;
}
.right_b .WatchPlayer h4{
    text-align: center;
    margin: 0 auto;
}
.right_b .huatiao{
    height: 304px;
    overflow-y:scroll;
}
.right_b .Player{
    width: 171px;
    height: 25px;
    margin-top: 10px;
    position: relative;
}
.right_b a{
    color: black;
}
.right_b .name{
    width:96%;
    position: absolute;
    top: 0;
    left:10px;
    line-height: 25px;
    font-family: 微软雅黑B;
}
.right_b .point{
    position: absolute;
    top: 0;
    right: 0px;
    line-height: 25px;
}
.qipan {
    width: 810px;
    height: 890px;
    background-image: url(../images/qipan.png);
    position: relative;
}

.qipan2 {
    width: 723px;
    height: 803px;
    position: relative;
    padding: 43.5px;
}

#qizi {
    position: relative;
    float: left;
    margin-right: 5.3px;
    margin-bottom: 6px;
    width: 75px;
    height: 75px;
    border-radius: 100px;
}

.canMove {
    width: 10px;
    height: 10px;
    background-color: #f00;
/ / border-radius: 50 px;
    opacity: 0.5;
    cursor: pointer;
}

.shuai, .rrche,
.rrma, .rrpao, .rrshi,
.rrxiang, .rlche,
.rlma, .rlpao, .rlshi,
.rlxiang, .bing1,
.jiang, .brche, .blche,
.brma, .blma, .brpao,
.blpao, .brshi, .blshi,
.brxiang, .blxiang, .zu1 {
    width: 75px;
    height: 75px;
    background-image: url(../images/qizi.png);
    background-size: 610px 166px;
    cursor: pointer;
}

.shuai {
    background-position: -26px -243px;
}

.rlche {
    background-position: -106px -243px;
}

.rlma {
    background-position: -188px -243px;
}

.rlxiang {
    background-position: -432px -243px;
}

.rlshi {
    background-position: -349px -243px;
}

.rlpao {
    background-position: -269px -78px;
}

.bing1 {
    background-position: -514px -80px;
}

.jiang {
    background-position: -26px 0;
}

.blche {
    background-position: -106px 0;
}

.blma {
    background-position: -188px 0;
}

.blpao {
    background-position: -270px 0;
}

.blshi {
    background-position: -349px 0;
}

.blxiang {
    background-position: -432px 0px;
}

.zu1 {
    background-position: -514px 0px;
}

.sightUp {
    width: 300px;
    height: 300px;
    position: fixed;
    top: 30%;
    left: 22.5%;
    right: 22.5%;
    background-color: #f5f5f5;
    display: none;
    user-select: none;
}

.sightUp h2 {
    font-family: 微软雅黑;
    text-align: center;
    padding-top: 10px;
    margin: 0 auto;
}

.sightUp .userNum, .sightUp .userName, .sightUp .Password, .sightUp .Confirm_Password {
    margin-top: 25px;
    margin-left: 15px;
    display: inline-block;
}

.sightUp button {
    margin-top: 30px;
    margin-left: 10px;
}

.timeSet {
    width: 300px;
    height: 300px;
    position: fixed;
    top: 30%;
    left: 22.5%;
    right: 22.5%;
    background-color: #f5f5f5;
    display: none;
}

.timeSet h2 {
    font-family: 微软雅黑;
    text-align: center;
    padding-top: 10px;
    margin: 0 auto;
}

.timeSet .My_GameTime, .timeSet .My_PartTime, .timeSet .Other_GameTime, .timeSet .Other_PartTime {
    margin-top: 25px;
    margin-left: 15px;
    display: inline-block;
}

.timeSet input {
    width: 75px;
}

.timeSet button {
    margin-top: 30px;
    margin-left: 10px;
}